{% extends 'base.html' %}{% load imagekit %}{% load static %}{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <form class="form-inline my-2 my-lg-0 w-100 p-3" style="background-color: #F7F7EF;" method="get">
        <div class="form-row w-100 align-items-center">
            <div class="col">
                <div style="color: #5289AF; font-weight: bold;">
                    {{ form.q|as_crispy_field }}
                </div>
                <div class="d-flex flex-wrap mt-3">
                    {% for tag in form.tags %}
                        <label class="mr-2 mt-1" style="background-color: #D3E0EE; color: #5289AF; padding: 5px 10px; border-radius: 5px; cursor: pointer;">
                            <input type="checkbox" name="tags" value="{{ tag.pk }}" style="display: none;" {% if tag in form.initial.tags %}checked{% endif %}>
                            {{ tag }}
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="col-auto d-flex align-items-center justify-content-center">
                <button type="submit" class="btn" style="background-color: #EEAA65; color: #FFFFFF;">Search</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    {% for item in item_list %}
    <div class="col-md-3 col-sm-4 col-6 item-card mb-4">
        <a href="{% url 'item:detail' item.id %}">
            <div class="card h-80" style="background-color: #F7F7EF; border: none;">
                <div class="card-body py-2" style="background-color: #F7F7EF;">
                    <h5 class="item-title" style="color: #5289AF;">{{ item.name }}</h5>
                </div>
                {% if item.image %}
                    {% thumbnail "250x250" item.image -- class="card-img-top item-image" %}
                {% else %}
                    <img src="{% static 'images/default_icon.jpeg' %}" class="card-img-top item-image" alt="{{ item.name }}">
                {% endif %}
                    <div class="card-body py-2" style="background-color: #F7F7EF;">
                    <p class="item-price" style="color: #497B76;">¥{{ item.price }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
